
<ion-header>
    <ion-navbar class="nav">
  <button ion-button menuToggle color="dark">
    <ion-icon name="menu"></ion-icon>
  </button>
  
    <ion-title class="titulo">Peça Show</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding class="cinza1" class="card-background-page">
  <div >
    <ion-segment [(ngModel)]="peca" class="branco">
      <ion-segment-button value="carro">
        CARRO
      </ion-segment-button>
      <ion-segment-button value="moto">
        MOTO
      </ion-segment-button>
    </ion-segment>
  </div>




  
  <div [ngSwitch]="peca">
    <ion-list *ngSwitchCase="'carro'">
      <ion-card *ngFor="let carros of categoriacarro">
      <ion-item class="cinza1">
        <ion-avatar>
          <img src="{{carros.foto}}">
        </ion-avatar>
        <h2>{{carros.nomeCategoria}}</h2> 
        <button ion-button round item-end (click)="showAlert()">Ver Ofertas</button>
    
      </ion-item>
      </ion-card>
    </ion-list>
</div>

<div [ngSwitch]="peca">
    <ion-list *ngSwitchCase="'moto'">
      <ion-card *ngFor="let motos of categoriamoto">
      <ion-item class="cinza1">
        <ion-avatar>
          <img src="{{motos.foto}}">
        </ion-avatar>
        <h2>{{motos.nomeCategoria}}</h2> 
        <button ion-button round item-end (click)="showAlert()">Ver Ofertas</button>
    
      </ion-item>
      </ion-card>
    </ion-list>
</div>




  
<ion-card >
  <img src="assets/imgs/nissan.jpg"/>
  <div class="card-title">Nissan Juke</div>
  <div class="card-subtitle">40% de desconto</div>
</ion-card>
<ion-card >
  <img src="assets/imgs/uber.jpg"/>
  <div class="card-title">Uber Juntos</div>
  <div class="card-subtitle">A corrida mais barata da sua cidade</div>
</ion-card>

</ion-content>










<!--

    <div [ngSwitch]="peca">
      <ion-list *ngSwitchCase="'carro'">
        <ion-item class="cinza1">
          <ion-thumbnail item-start>
            <img src="assets/imgs/998225-car-garage/png/022-battery.png">
          </ion-thumbnail>
          <h2>Bateria</h2> <button ion-button href="bateriacarro/bateriacarro.html" color="success" clear>Ver local e preço</button>
         
        </ion-item>
       
      </ion-list>
  </div>
   
  <div [ngSwitch]="peca">
    <ion-list *ngSwitchCase="'carro'">
      <ion-item class="cinza1">
        <ion-thumbnail item-start>
          <img src="assets/imgs/998225-car-garage/png/028-piston-1.png">
        </ion-thumbnail>
        <h2>Pistão 1</h2> <button ion-button href="pistao1/pistao1.html" color="success" clear>Ver local e preço</button>
       
      </ion-item>
      
    </ion-list>
</div>
    <div [ngSwitch]="peca">
      <ion-list *ngSwitchCase="'carro'">
        <ion-item class="cinza1">
          <ion-thumbnail item-start>
            <img src="assets/imgs/998225-car-garage/png/027-piston-2.png">
          </ion-thumbnail>
          <h2>Pistão 2</h2> <button ion-button href="pistao2/pistao2.html" color="success" clear>Ver local e preço</button>
         
        </ion-item>
        
      </ion-list>
  </div>


-->
  <!--
  <div [ngSwitch]="peca">
  <ion-list *ngSwitchCase="'moto'">
    <ion-item class="cinza1">
      <ion-thumbnail item-start>
        <img src="assets/imgs/865926-motorcycle/png/007-exhaust-1.png">
      </ion-thumbnail>
      <h2>Exaustor</h2> <button ion-button href="exaustor/exaustor.html" color="success" clear>Ver local e preço</button>
    </ion-item>
    
  </ion-list>
</div>
<div [ngSwitch]="peca">
  <ion-list *ngSwitchCase="'moto'">
    <ion-item class="cinza1">
      <ion-thumbnail item-start>
        <img src="assets/imgs/865926-motorcycle/png/006-piston.png">
      </ion-thumbnail>
      <h2>Pistão</h2> <button ion-button href="pistao/pistao.html" color="success" clear>Ver local e preço</button>
    </ion-item>
    
  </ion-list>
</div>
<div [ngSwitch]="peca">
<ion-list *ngSwitchCase="'moto'">
  <ion-item class="cinza1">
    <ion-thumbnail item-start>
      <img src="assets/imgs/865926-motorcycle/png/016-battery.png">
    </ion-thumbnail>
    <h2>Bateria</h2> <button ion-button href="bateriamoto/bateriamoto.html" color="success" clear>Ver local e preço</button>
  </ion-item>
  
</ion-list>
</div>
-->
