page-home {

.headerlogin{
  background-color: rgba(8, 180, 248, 0.966);
}

.botao{
    background-color: rgb(4, 141, 253);
}
.botao1{
    background-color: rgb(207, 207, 207);
}
.botao2{
    background-color: rgb(207, 207, 207);
}
}
