page-home {

.loginmeio{
    background-color: rgb(141, 141, 145);
}
.botao{
    background-color: rgb(49, 67, 228); 
    color: white;
}
.botao2{
    background-color: rgb(47, 173, 47);
    color: white;
}
.cima{
    background-color: rgb(164, 164, 167);  
}
.loginnome{
    color: white;
}
}
