page-home {

.loginmeio{
    background-color: rgb(255, 255, 255);
}
.botao{
    background-color: rgb(49, 67, 228); 
    color: white;
}
.botao2{
    background-color: rgb(47, 173, 47);
    color: white;
}
.cima{
    background-color: rgb(255, 255, 255);  
}
.loginnome{
    color: rgb(0, 0, 0);
    /* Login*/
}
}
